<div class="info-right" id="image-two">
    {% if section.settings.image != blank %}
        <div class="info-image-right">
             <img src="{{ section.settings.image | img_url: 'master' }}" alt="">
        </div>
    {% endif %}
    <div class="info-right-content">
    {% if section.settings.header != blank %}
            <h1>{{ section.settings.header | escape}}</h1>
        {% endif %}
        {% if section.settings.text != blank %}
            <p>{{ section.settings.text | escape }}</p>
        {% endif %}
    </div>
</div>

{% schema %}
  {
    "name": "Info Right",
    "settings": [
      {
        "id": "header",
        "type": "text",
        "label": "Header",
        "default": "Colours and styles"
      },
      {
        "id": "text",
        "type": "text",
        "label": "Text",
        "default": "ll styles feature a white front with preferred colour on the back of the leg to create a stylish design. MORI’s yoga pants can be paired with our t-shirts or cardigans for a daytime outfit, or worn as pyjamas with a bodysuit."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  /* Container for images and text */

  .info-right {
      max-width: 100%;
      height: 750px;
      background-position: right;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
  }


  /* Image containers */

  .info-image-right {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
  }


  /* Text containers */

  .info-right-content {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 70%;
      transform: translate(-40%, -30%);
      font-family: 'Raleway', sans-serif;
      height: 200px;
      width: 600px;
  }


  /* Responsiveness queries */

  @media screen and (max-width: 1330px) {
      .info-right-content {
          top: 70%;
          left: 75%;
          transform: translate(-40%, -30%);
          height: 300px;
          width: 400px;
      }
  }

  @media screen and (max-width: 960px) {
      .info-right-content {
          top: 40%;
          left: 30%;
          transform: none;
          height: 300px;
          width: 400px;
      }
  }

  @media screen and (max-width: 768px) {
      .info-right-content {
          top: 60%;
          left: 40%;
          width: 80%;
          height: auto;
          transform: translate(-40%, -30%);
      }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}