
<div class="slider_wrapper">
	<a href="#" id="show_slider_options">SHOW SLIDER OPTIONS ----> </a>
</div>

<script type="text/javascript">

	$("#show_slider_options").one('click', function() {
		$(".slider_wrapper").append('<br><a href="#" id="show_slider">Open the slider</a>');

	});

	$(document).on('click', '#show_slider', function() {
		$(".slider_wrapper").append("<div class=sl-slider><div><img src={{ 'sl1.png' | asset_img_url: 'medium' }}></div><div><img src={{ 'sl2.png' | asset_img_url: 'medium' }}></div><div><img src={{ 'sl3.png' | asset_img_url: 'medium' }}></div></div>");
	});

	$('.sl-slider').slick({
     slidesToShow: 1,
     dots: true
 	});
	
</script>