
<div class="slider_wrapper">
	<a href="#" id="show_slider_options">SHOW SLIDER OPTIONS ----> </a>
</div>

<script>
var slider_html = "<br><a href='#' id='show_slider' style='display:none;''>Open the slider</a>";
$(document).on('click', '#show_slider_options', function(e) {
	e.preventDefault() //prevent hash appending to end of url.
if ($('.slider_wrapper').length == 1 && $('#show_slider').length < 1) {
$(".slider_wrapper").append(slider_html);
$('#show_slider').slideDown('fast')
	}
})

$(document).on('click', '#show_slider', function() {
	var slider_html = "<div class='sl-slider'>\
	<div><img class='sl-slider-image' src={{ 'sl1.png' | asset_img_url: 'medium' }}></div>\
	<div><img class='sl-slider-image' src={{ 'sl2.png' | asset_img_url: 'medium' }}></div>\
	<div><img class='sl-slider-image' src={{ 'sl3.png' | asset_img_url: 'medium' }}></div>\
	</div>"
	if ($('.slider_wrapper').length == 1) { //ensure presence and inevitability of more than 1 to avoid double init of slick and/or double append.
$(".slider_wrapper").append(slider_html);
$('.sl-slider').slick({
	slidesToShow: 1,
	dots: true
})
	}
})
</script>
