<div class="hero-image">
        <div class="hero-text">
            <h1>Yoga Pants</h1>
            <p>We’re making playtimes fun and sleeptimes peaceful</p>
            <a href="" class="btn">Show more</a>
        </div>
    </div>

    <div class="info">
        <div class="info-image-container">
            <img src="https://images.pexels.com/photos/159056/dandelion-seeds-number-of-lion-screen-pilot-159056.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"
                alt="">
        </div>
        <div class="info-container">
            <h1>Crafted from bamboo and organic cotton</h1>
            <p>MORI Yoga Pants feature a subtle elasticated waistband to make sure they stay in place, and a low rise crotch
                with cute pocket detail for ample nappy space and movement.</p>
        </div>
    </div>

    <div style="text-align: center;">
        <p>Allergy friendly Free returns Free UK shipping over £50</p>
        <a href="" class="btn">Buy now</a>
    </div>

    <div class="info">
        <div class="info-container">
            <h1>Colours and styles</h1>
            <p>All styles feature a white front with preferred colour on the back of the leg to create a stylish design. MORI’s
                yoga pants can be paired with our t-shirts or cardigans for a daytime outfit, or worn as pyjamas with a bodysuit.</p>
        </div>
        <div class="info-image-container">
            <img src="https://images.pexels.com/photos/159056/dandelion-seeds-number-of-lion-screen-pilot-159056.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"
                alt="">
        </div>
    </div>